<button (click)="getPlayers()">Get Players</button>




<button (click)="getPlayer()">Get Player</button>
<button (click)="addPlayer()">Add Player</button>
<button (click)="updatePlayer()">Update Player</button>
<button (click)="deletePlayer()">Delete Player</button>

<button (click)="getPlayerMostTds()">Get Player Most Tds</button>
<button (click)="getPlayerMostYds()">Get Player Most Yds</button>
<button (click)="getPlayerLeastYds()">Get Player Least Yds</button>
<button (click)="getPlayersMostToLeastRec()">Get Players Most To Least Rec</button>
<button (click)="getPlayerByFirstName()">Get Player By First Name</button>
